#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

#canvas{
	width: 100%;
	text-align: center;
	background-color: #282828;
}

#gameCanvas{
	/*background-image: url("../src/img/space.png");
	background-image: url("../src/img/space.png");*/
	border-color: #000080;
	border-style: solid;
	border-width: 1px;
	border-radius: 15px;
}

/***********************************************************/
body{
	margin: 0px;
	text-align: center;
	background-color: #282828;
}
#escena{
	margin: auto;
	margin-top: 10px;
	background-image: url("../src/img/inicio.png");
	background-size: 1100px 650px;
	width: 1100px;
	height: 650px;
}
.hide{
	display: none;
}
