body{
	margin: 0px;
	text-align: center;
	background-color: #282828;
}

#canvas{
	width: 100%;
	text-align: center;
	background-color: #282828;
}

#gameCanvas{
	background-color: rgb(136, 194, 246);
	/*background-image: url("../src/img/space.png");*/
	/*background-image: url("../src/img/cielo.png");*/
	background-size: 1100px 650px;
	border-color: #000000;
	border-style: solid;
	border-width: 2px;
	border-radius: 15px;
}

/***********************************************************/

